In [1]:
import numpy as np
import pandas as pd

In [4]:
in_path = "dataset//book.txt"

In [5]:
df = pd.read_csv(in_path, sep='\t', names=["source", "isbn", "book", "author"])

In [25]:
len(df['isbn'].unique())

1265

In [20]:
df['author'] = df['author'].astype(str)

In [21]:
df.apply(lambda x:x['author'].lower(), axis=1)

0                                            not available
1                                         knuth, donald e.
2                                                      nan
3                                         knuth, donald e.
4                                                    knuth
                               ...
33966    franklin f. kuo|wolfgang effelsberg|j. j. garc...
33967                                                  kuo
33968                                  wolfgang effelsberg
33969                                frank kuo, j. j. luna
33970    franklin f. kuo j. joaquin garcia luna-aceves ...
Length: 33971, dtype: object

In [22]:
df['author'] ==

0                                            Not Available
1                                         Knuth, Donald E.
2                                                      nan
3                                         Knuth, Donald E.
4                                                    Knuth
                               ...
33966    Franklin F. Kuo|Wolfgang Effelsberg|J. J. Garc...
33967                                                  KUO
33968                                  Wolfgang Effelsberg
33969                                Frank Kuo, J. J. Luna
33970    Franklin F. Kuo J. Joaquin Garcia Luna-Aceves ...
Name: author, Length: 33971, dtype: object